<link rel='stylesheet' href='/static/assets/css/style.css' />

<div class='d-flex align-self-center justify-content-center order-2 order-lg-1 col-lg-5 col-12'>
  <div class='login-register-form-wrap'>

    <div class='content'>
      {{! <h1>ورود</h1> }}
      <h2> اداره کل خزانه </h2>
      <h3>سامانه مدیریت امور بانکی نسخه جدید </h3>
    </div>

    <div class='login-register-form'>
    
        {{#if hasError}}
          <div class='alert alert-danger'>
            {{#each errors}}
              <small class='errMessage'>
                {{this}}
              </small>
            {{/each}}
          </div>
        {{/if}}
      <form action='/auth/login' method='POST' data-frmValidation novalidate>
        <div class='row'>
          <div class='col-12 mb-20'>
            <input type='text' class='form-control' id='userName' name='userName' maxlength='10' minlength='10' placeholder='لطفا نام کاربری (کد ملی) خود را وارد کنید.' title='کد ملی را بعنوان نام کاربری وارد کنید.'
               autocomplete='userName' autofocus='true' required />
          </div>
          <div class='col-12 mb-20'>
            <input type='password' class='txt-password form-control' id="password" name='password' minlength='6' autocomplete='off' placeholder='لطفا کلمه عبور را وارد کنید.' autocomplete="current-password" required/>
            <i class='zmdi zmdi-eye-off icon-pass-login-form ' id='password-eye1'></i>
          </div>
          <div class='col-12 mb-20'>
            <label for='remember' class='adomx-checkbox-2'>
              <input id='remember' name='remember_me' type='checkbox' />
              <i class='icon'></i>
              مرا به خاطر داشته باش.
            </label>
          </div>
          <div class='col-12'>
            <div class='row justify-content-between'>
              <div class='col-auto mb-15'>
                <a href='#'>فراموشی رمز عبور؟</a>
              </div>
            </div>
          </div>
          <div class='col-12 mt-10'>
            <button class='button button-primary button-outline'>ورود</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src='/static/assets/js/formValidation.js'></script>

<script>
  $(document).ready(function (){
    $('#password-eye1').click(function(){
      if($('.txt-password').attr('type')==='password'){
        $('.txt-password').attr('type','text')
        $('#password-eye1').removeClass('zmdi zmdi-eye-off').addClass('zmdi zmdi-eye')
      }else{
        $('.txt-password').attr('type','password')
        $('#password-eye1').removeClass('zmdi-eye').addClass('zmdi-eye-off')
      }
    })
  })
</script>