<!-- Side Header Start -->

<div class="side-header show">
  <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
  <!-- Side Header Inner Start -->
  <div class="side-header-inner custom-scroll">

    <nav class="side-header-menu" id="side-header-menu">
      <ul>
        <li><a href="/accManagement/index"><i class="fa fa-pie-chart"></i>
            <span>داشبورد</span></a></li>

        <li class="has-sub-menu account-management"><a href="#"><i class="ti-briefcase"></i>
            <span>مدیریت حساب</span></a>

          <ul class="side-header-sub-menu">
            <li><a href="/accManagement/index"><i class="ti-pencil-alt"></i>
                <span>افتتاح حساب</span></a></li>
            <li><a href="/accManagement/block"><i class="ti-na"></i>
                <span>انسداد حساب</span></a></li>
            <li><a href="##"><i class="fa fa-window-close"></i><span>انسداد حساب
                  دسته‌ای</span></a></li>
          </ul>
        </li>

        <li class="has-sub-menu base-information"><a href="#"><i
              class="fa fa-file-text"
            ></i>
            <span>اطلاعات پایه</span></a>
          <ul class="side-header-sub-menu">
            <li><a href="/baseInformation/codeTableList/index"><i
                  class="fa fa-pencil-square-o"
                ></i>
                <span>جدول کدینگ اصلی</span></a>
            </li>
            <li><a href="/baseInformation/codingData/index/1"><i
                  class="zmdi zmdi-collection-text"
                ></i>
                <span>جزییات کدینگ داده</span></a>
            </li>
          </ul>
        </li>

        <li class="has-sub-menu users-management"><a href="#"><i
              class="fa fa-users"
            ></i>
            <span>مدیریت کاربران</span></a>
          <ul class="side-header-sub-menu">
            <li><a href="##"><i class="fa fa-user"></i>
                <span>فهرست کاربران</span></a></li>
            <li><a href="##"><i class="fa fa-thumbs-up"></i><span>فهرست مجوزها</span></a></li>
            <li><a href="##"><i class="fa fa-id-card-o"></i><span>فهرست
                  دسترسی‌ها</span></a></li>
            <li><a href="##"><i class="fa fa-plus-square"></i><span>اعطای مجوز</span></a></li>
          </ul>
        </li>
        <li class="has-sub-menu reports"><a href="#"><i
              class="fa fa-bar-chart"
            ></i>
            <span>گزارشات</span></a>
          <ul class="side-header-sub-menu">
            <li><a href="/static/user/list"><span>گزارش حساب‌ها</span></a></li>
            <li><a href="##"><span>گزارش کاربران</span></a></li>
          </ul>
        </li>
        <li class="has-sub-menu settings"><a href="#"><i class="ti-panel"></i>
            <span>تنظیمات</span></a>
          <ul class="side-header-sub-menu">
            <li><a href="#"><i class="ti-hummer"></i>
                <span>تنظیمات صفحه اصلی</span></a></li>
            <li><a href="#"><i class="ti-comments"></i>
                <span>سایر تنظیمات </span></a></li>
          </ul>
        </li>

      </ul>
    </nav>

  </div><!-- Side Header Inner End -->
</div>