<link rel='stylesheet' href='/static/assets/css/style.css' />

<div class='box-codingdata'></div>

<main class='container myform-section-wrapper my-4 mt-5'>
  <div class='row justify-content-between align-items-center mb-10'>
    <!-- Page Heading Start -->
    <div class='col-12 col-lg-auto mb-20' style='margin:20px 0;'>
      <div class='page-heading page-heading-custom'>
        <h3 class='title'>{{title}} <span>/ {{subTitle}} </span></h3>
      </div>
    </div><!-- Page Heading End -->
  </div>

  <div class='row login-form'>
    <div class='col-12 col-sm-12 col-md-12'>
      <form method='POST' name='frmUsers' action='./store' class='row g-3 needs-validation' data-frmValidation novalidate>
        {{#if hasError}}
          <div class='alert alert-danger'>
            {{#each errors}}
              <small class='errMessage'>
                {{this}}
              </small>
            {{/each}}
          </div>
        {{/if}}
        {{#if removeSuccess}}
          <div class='col-12 w-100 d-flex justify-content-center mt-1 mb-1'>
            <p class='alert alert-danger w-50 text-center'>
              {{removeSuccess}}
            </p>
          </div>
        {{/if}}

        <div class='form-floating mb-3'>
          <input type='text' class='form-control' id='userName' name='userName' maxlength='10' minlength='10' placeholder=' نام کاربری (کد ملی)را وارد کنید.' title='کد ملی را بعنوان نام کاربری وارد کنید.' autocomplete='off' autofocus='true' required />
          <label for='userName' class='mandatory'>
            نام کاربری (کد ملی)
          </label>
        </div>

         <div class='form-floating mb-3'>
          <input type='password' class='txt-password form-control' name='password' minlength='6' autocomplete='off' placeholder='لطفا کلمه عبور را وارد کنید.' required/>
          <i class="zmdi zmdi-eye-off icon-pass-user-create" id="password-eye1"></i>
          <label for='password' class='mandatory'>
            کلمه عبور
          </label>
        </div>

        <div class='form-floating mb-3'>
          <input type='password' class='txt-password form-control' name='confirm_password' minlength='6' autocomplete='off' placeholder='لطفا کلمه عبور را تکرار کنید.' required/>
          <i class="zmdi zmdi-eye-off icon-pass-user-create" id="password-eye2"></i>
          <label for='password' class='mandatory'>
            تکرار کلمه عبور
          </label>
        </div>

        <div class='form-floating mb-3'>
          <input type='text' class='form-control' id='fullName' name='fullName' autocomplete='off' placeholder='نام و نام‌خانوادگی.' required />
          <label for='fullName' class='mandatory'>
            نام و ناخانوادگی
          </label>
        </div>

        <div class='form-floating mb-3'>
          <input type='text' class='form-control' id='description' name='description' autocomplete='off' placeholder='توضیحات.'/>
          <label for='description'>
            توضیحات
          </label>
        </div>

        <div class='col-12 my-2 text-center'>
          <button class='btn btn-success custom-btn' type='submit' id='btnSubmit'>
            ثبت
          </button>
          <a class='btn btn-secondary custom-btn' type='reset' id='btnCancel' href='./index'>
            انصراف
          </a>
        </div>
      </form>
    </div>
  </div>
</main>
<script src='/static/assets/js/formValidation.js'></script>
<script>
  $(document).ready(function (){
    $('#password-eye1').click(function(){
      if($('.txt-password').attr('type')==='password'){
        $('.txt-password').attr('type','text')
        $('#password-eye1').removeClass('zmdi zmdi-eye-off').addClass('zmdi zmdi-eye')
        $('#password-eye2').removeClass('zmdi zmdi-eye-off').addClass('zmdi zmdi-eye')
      }else{
        $('.txt-password').attr('type','password')
        $('#password-eye1').removeClass('zmdi-eye').addClass('zmdi-eye-off')
        $('#password-eye2').removeClass('zmdi-eye').addClass('zmdi-eye-off')
      }
    })
    $('#password-eye2').click(function(){
      if($('.txt-password').attr('type')==='password'){
        $('.txt-password').attr('type','text')
        $('#password-eye1').removeClass('zmdi zmdi-eye-off').addClass('zmdi zmdi-eye')
        $('#password-eye2').removeClass('zmdi zmdi-eye-off').addClass('zmdi zmdi-eye')
      }else{
        $('.txt-password').attr('type','password')
        $('#password-eye1').removeClass('zmdi-eye').addClass('zmdi-eye-off')
        $('#password-eye2').removeClass('zmdi-eye').addClass('zmdi-eye-off')
      }
    })
  })
</script>