<div style='height: 200px;'></div>

<div class='import-file-container'>
  <form id='frmImportCodingData' onsubmit='return false;' novalidate enctype='multipart/form-data'>
    <h3>لطفا فایل مورد نظر را بارگذاری کنید.</h3>

    <div class='mb-3'>
      <label for='tableSelect' class='form-label' style='font-size: 18px;font-style: italic;color:#01019e;margin:15px;0;'>انتخاب جدول دیتابیس:</label>
      <select class='form-select' id='tableSelect' name='tableName' required>
        <option value=''>-- لطفا یک جدول انتخاب کنید --</option>
        {{#each tables}}
          <option value='{{this.name}}'>{{this.name}}</option>
        {{/each}}
      </select>
    </div>

    <div class='mb-3'>
      <input type='file' name='excelFile' class='form-control' id='excelFile' accept='.xlsx, .xls' required />
    </div>
    <div class='text-center'>
      <button class='btn btn-success' type='submit' style='width:120px;text-align: center;'>تایید</button>
    </div>
  </form>
</div>

<!-- نوار پیشرفت -->
<div class='progress mb-3' style='display: none;'>
  <div id='progress-bar' class='progress-bar progress-bar-striped progress-bar-animated' role='progressbar' style='width: 0%' aria-valuenow='0' aria-valuemin='0' aria-valuemax='100'>0%</div>
</div>
<div id='progress-text' class='text-center mb-3' style='display: none;'>
  منتظر شروع پردازش...
</div>

<!-- Load CSS -->
<link href='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css' rel='stylesheet' />
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css' rel='stylesheet' />

<!-- Load JavaScript libraries -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>
<script src='/static/assets/js/formValidation.js'></script>
<script src='/static/assets/js/importData_Progressbar.js'></script>

<style>
  .alert-danger { background-color: #dc3545; color: white; border: none; } .btn-outline-light:hover { background-color: white; color: #dc3545; }
</style>