<div class='main-wrapper'>

  <!-- Content Body Start -->
  <div class='content-body m-0 p-0'>

    <!--Error Start-->
    <div class='error-wrap'>
      <div class='container'>
        <div class='row'>

          <div class='error-image col-12'    <div class="main-wrapper">

        <!-- Content Body Start -->
        <div class="content-body m-0 p-0">

            <!--Error Start-->
            <div class="error-wrap">
                <div class="container">
                    <div class="row">

                        <div class="error-image col-12"><img src="static/assets/images/error/error-2.png" alt=""></div>

                        <div class="error-content col-12">
                            <h1 class="title">به نظر میرسید دسترسی شما به این صفحه مقدور نمی‌باشد؛ لطفا با مدیر سیستم تماس بگیرد.</h1>
                            <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</h4>
                            <a href="index.html" class="button button-secondary button-round">برگشت به صفحه اصلی</a>
                        </div>

                    </div>
                </div>
            </div>
            <!--Error End-->

        </div><!-- Content Body End -->

    </div>><img src='assets/images/error/error-1.png' alt='' /></div>

          <div class='error-content col-12'>
            <h1 class='title'>به نظر میرسید این صفحه مشکل دارد</h1>
            <h4>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. .</h4>
            <a href='index.html' class='button button-secondary button-round'>برگشت به صفحه اصلی</a>
          </div>

        </div>
      </div>
    </div>
    <!--Error End-->

  </div><!-- Content Body End -->

</div>