<style>
  .content-body {
    background: #f7f7f7 !important;
  }
</style>
<div class='main-wrapper'>

  <!-- Content Body Start -->
  <div class='content-body m-0 p-0'>

    <!--Error Start-->
    <div class='error-wrap-2'>
      <div class='container'>
        <div class='row'>

          <div class='error-content col-lg-6 col-md-8 col-12 ml-auto'>
            <span class='display-1'>{{title}}</span>
            <h1 class='title'>صفحه مورد نظر با مشکل روبرو شده است</h1>
            <h2 class='title'>{{message}}</h1>
            <a href='/accManagement/index' class='button button-secondary button-round'>برگشت به صفحه اصلی</a>
          </div>
        </div>
      </div>
    </div>
    <!--Error End-->

  </div><!-- Content Body End -->

</div>