<div>
  <h2 style="height: 66vh;
    font-size:30px;
    text-align: center;
    padding-top:30px;
    background: rgb(244,214,227);
    background: radial-gradient(circle, rgba(244,214,227,1) 0%, rgba(148,187,233,1) 100%);">
    سامانه مدیریت حساب‌های بانکی 
  </h2>
</div>