<div>
  <h2 style="height: 66vh;
    font-size:30px;
    text-align: center;
    padding-top:10px;">
    سامانه مدیریت حساب‌های بانکی 
  </h2>
  <h2>
    سامانه مدیریت حساب‌های بانکی 
  </h2>
  <h3>
    test mishavd ..
  </h3>
  <h1>
    سلام خوبی ؟؟
  </h1>
</div>