<html class='no-js' lang='fa'>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>سامانه مدیریت امور بانکی نسخه جدید</title>
    <meta name='robots' content='noindex, follow' />
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no' />
    <!-- Favicon -->
    {{!-- <link rel='shortcut icon' type='image/x-icon' href='/static/assets/images/favicon.ico' /> --}}

    <!-- CSS
	============================================ -->

    <link rel='stylesheet' href='/static/assets/adomax/css/vendor/bootstrap.rtl.min.css' />

    <!-- Icon Font CSS -->
    <link rel='stylesheet' href='/static/assets/adomax/css/vendor/material-design-iconic-font.min.css' />
    <link rel='stylesheet' href='/static/assets/adomax/css/vendor/font-awesome.min.css' />
    <link rel='stylesheet' href='/static/assets/adomax/css/vendor/themify-icons.css' />

    <!-- Plugins CSS -->
    <link rel='stylesheet' href='/static/assets/adomax/css/plugins/plugins.css' />

    <!-- Helper CSS -->
    <link rel='stylesheet' href='/static/assets/adomax/css/helper.css' />

    <!-- Main Style CSS -->
    <link rel='stylesheet' href='/static/assets/adomax/css/style.css' />

    <link rel='stylesheet' href='/static/assets/vendor/datatables/datatables.min.css' />

    <script src='/static/assets/adomax/js/vendor/jquery-3.3.1.min.js'></script>
    <script src='/static/assets/vendor/DataTables/datatables.js'></script>

    <link rel='stylesheet' href='/static/assets/css/style.css' />
  </head>

  <body dir='rtl'>

    <div class='main-wrapper'>

      <!-- Content Body Start -->
      <div class='content-body m-0 p-0'>

        <div class='login-register-wrap'>
          <div class='row'>

            {{{body}}}

            <div class='login-register-bg order-1 order-lg-2 col-lg-7 col-12'>
              <div class='content'>
                {{! <h1>ورود</h1> }}
                <h2> اداره کل خزانه </h2>
                <h3>سامانه مدیریت امور بانکی نسخه جدید </h3>
              </div>
            </div>

          </div>
        </div>

      </div><!-- Content Body End -->

    </div>

    <!-- JS
============================================ -->

    <!-- Global Vendor, plugins & Activation JS -->
    <!-- Global Vendor, plugins & Activation JS -->
    <script src='/static/assets/adomax/js/vendor/modernizr-3.6.0.min.js'></script>
    <script src='/static/assets/adomax/js/vendor/jquery-3.3.1.min.js'></script>
    <script src='/static/assets/adomax/js/vendor/popper.min.js'></script>
    <script src='/static/assets/adomax/js/vendor/bootstrap.min.js'></script>
    <!--Plugins JS-->
    <script src='/static/assets/adomax/js/plugins/perfect-scrollbar.min.js'></script>
    <script src='/static/assets/adomax/js/plugins/tippy4.min.js.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js'></script>

    <!--Main JS-->
    <script src='/static/assets/adomax/js/main.js'></script>

  </body>

</html>