<html class="__no-js" lang="fa">
  <head>
    <meta charset="utf-8" />
    <title>سامانه مدیریت حسابهای بانکی - MHA - </title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Favicon -->
    {{!-- <link rel="shortcut icon" type="image/x-icon" href="/static/assets/images/favicon.ico"/> --}}

    <!-- CSS
	============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/assets/adomax/css/vendor/bootstrap.rtl.min.css"/>

    <!-- Icon Font CSS -->
    <link rel="stylesheet" href="/static/assets/adomax/css/vendor/material-design-iconic-font.min.css"/>
    <link rel="stylesheet" href="/static/assets/adomax/css/vendor/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/assets/adomax/css/vendor/themify-icons.css"/>

    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/static/assets/adomax/css/plugins/plugins.css"/>

    <!-- Helper CSS -->
    <link rel="stylesheet" href="/static/assets/adomax/css/helper.css" />

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/static/assets/adomax/css/style.css" />

    <link rel="stylesheet" href="/static/assets/vendor/datatables/datatables.min.css" />


    <script src="/static/assets/adomax/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/vendor/DataTables/datatables.js"></script>

    <link rel="stylesheet" href="/static/assets/css/style.css" />
  </head>

  <body dir="rtl">

    <div class="main-wrapper">
    
     
      <!-- Header Section Start -->
      {{> header}}
      <!-- Header Section End -->

      <!-- Side Header Start -->
      {{> sidebar}}
      <!-- Side Header End -->

      <!-- Content Body Start -->
      <div class="content-body">
        {{{body}}}
      </div>
      <!-- Content Body End -->

      <!-- Footer Section Start -->
      {{> footer}}
      <!-- Footer Section End -->

    </div>

    <!-- JS
============================================ -->


    <!-- Global Vendor, plugins & Activation JS -->
    <script src="/static/assets/adomax/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="/static/assets/adomax/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="/static/assets/adomax/js/vendor/popper.min.js"></script>
    <script src="/static/assets/adomax/js/vendor/bootstrap.min.js"></script>
    <!--Plugins JS-->
    <script src="/static/assets/adomax/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="/static/assets/adomax/js/plugins/tippy4.min.js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    
    <!--Main JS-->
    <script src="/static/assets/adomax/js/main.js"></script>
    <script src="/static/assets/js/menu-state.js"></script>

    <script src="/static/assets/vendor/select2/dist/js/select2.min.js"></script>
    <script src="/static/assets/vendor/DataTables/datatables.js"></script>
    <script src="/static/assets/js/codeTableListDataTables.js"></script>
    <script src="/static/assets/js/codingData_DataTables.js"></script>
    <script src="/static/assets/js/userListDataTables.js"></script>
    <script src="/static/assets/js/personListDataTables.js"></script>
    <script src="/static/assets/js/roleListDataTables.js"></script>
    <script src="/static/assets/js/permissionListDataTables.js"></script>
    <script src="/static/assets/js/rolePermissionListDataTables.js"></script>
    <script src="/static/assets/js/userRoleListDataTables.js"></script>
    <script src="/static/assets/js/cityListDataTables.js"></script>
    <script src="/static/assets/js/bankBranchListDataTables.js"></script>


    <script>
      $(document).ready(function(){ $('#cmbCodeTableList').select2(); })
      $(document).ready(function(){ $('#cmbUserfullName').select2(); })
      $(document).ready(function(){ $('#cmbactionPermission').select2(); })
      $(document).ready(function(){ $('#cmbAllTables').select2(); })
      $(document).ready(function(){ $('#cmbRoleList').select2(); })
      $(document).ready(function(){ $('#cmbPermissionList').select2(); })
      $(document).ready(function(){ $('#cmbProvinceList').select2(); })
    </script>
  </body>

</html>